.section-header__burger-stripe,
.section-header__burger-stripe::after,
.section-header__burger-stripe::before {
  --color: var(--coloron-primary, #fff);
  --transition: var(--hover-transition);

  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color);

  transition: var(--transition);
}

.section-header__burger-stripe::after {
  content: '';
  top: 9px;
}

.section-header__burger-stripe::before {
  content: '';
  top: 18px;
}

.section-header__burger_open .section-header__burger-stripe {
  transform: rotate(45deg) translate(7px, 9px);
}

.section-header__burger_open .section-header__burger-stripe::after {
  transform: rotate(-90deg) translate(10px, 0px)
}

.section-header__burger_open .section-header__burger-stripe::before {
  transform: scaleX(0) translate(0px, -18px) rotate(-45deg);
}
