.popup{
    --back-color: var(--color-overlay-500, #555);

    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--back-color);

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;

    transition: visibility 200ms, opacity 200ms linear;

    z-index: 11;
}
