.popup__form-error{
    --color: var(--color-error, pink);

    display: inline-block;
    margin: 5px 0;
    padding: 0;
    box-sizing: border-box;

    min-height: 32px;
    width: 100%;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color);

    opacity: 0;
}
