.section-sign__title {
  --color: var(--coloron-primary, #ccc);
  padding: 0 0 50px 0;
  margin: 0 auto;
  width: fit-content;

  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  text-align: center;

  color: var(--color);
}

@media screen and (max-width:425px) {
  .section-sign__title {
    font-size: 20px;
    padding: 0 0 40px 0;
  }
}
